<%- include("../partials/header")%>
<%- include("../partials/navbar")%>
<%- include("../partials/flash")%>

<div class="container mt-3">
    <h5 class="display-5 my-3">Add New Task</h5>
    <form action="/tasks/<%= employee._id%>" method="POST" enctype="multipart/form-data" class="validated-form" novalidate>
        <div class="mb-3">
          <label for="name" class="form-label">Employee Name</label>
          <input type="text" class="form-control" id="name" name="name"  value="<%= employee.username%>" disabled="disabled" required>
        </div>
        <div class="mb-3">
            <label for="title" class="form-label">Task Title</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Enter the title" required>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Upload file</label>
            <input type="file" class="form-control-file" id="image" name="image" required>
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Task Description</label>
            <textarea  id="text" cols="30" rows="10" class="form-control" name="desc" required></textarea>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

<%- include("../partials/footer")%>